@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

:root {
  --o-color: #2da0af;
  --x-color: #ce4f1d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;

  font-family: sans-serif;
  height: 100vh;
  background-color: rgb(147, 166, 180);

  font-family: 'Architects Daughter', cursive;

  color: #555;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 100vh;
}

header {
  background-color: rgb(48, 48, 48);
  align-self: flex-start;
  height: 12vh;
  margin-bottom: 20px;
  display: none;
  width: 100vw;
}

.placar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.493);
  padding: 20px;
}

.placar h2 {
  width: 100%;
}

.responsive-score {
  display: flex;
  margin-right: 50px;
  flex-direction: column-reverse;

}

.responsive-score div {
  height: 25vh;
}

.current-player.res-title {
  background-color: rgb(32, 32, 32);
  color: white;
}

.current-player {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px;
  width: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.493);
  padding: 20px;
}

.current-player h2 {
  margin: 10px;
  width: 200px;
}

.current-player, .placar {
  text-align: center;
  font-size: 20px;
}

.current-player.mobile {
  display: none;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  width: 100%;
  padding: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3,25vh);
  grid-template-rows: repeat(3,25vh);
  gap: 1rem;
}

.board.game-over {
  opacity: 0.7;
}

.cell {
  display: grid;
  align-items: center;
  justify-content: center;

  background-color: white;
  border-radius: 5px;
  font-family: 'Fredoka One', cursive;
  font-size: 80px;
  font-weight: bold;
  color: #00000066;

  cursor: pointer;
}

.cell.o, .cell.x, .game-over .cell {
  cursor: not-allowed;
}

.cell:not(.o):not(.x):hover {
  box-shadow: 0 20px 25px -5px;
}

.cell.o {
  background-color: var(--o-color);
}

.cell.x {
  background-color: var(--x-color);
}

.restart-game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  width: 300px;
  height: 150px;
  position: absolute;
  text-align: center;
  top: calc(50% - 87px) ;
  left: calc(50% - 150px) ;
  border: black 1px solid;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 25px -5px;
  border-radius: 10px;
}

span.x, span.o {
  font-size: 30px;
  font-family: 'Fredoka One', cursive;
}

span.x span, span.o span {
  color: rgb(78, 78, 78);
  background-color: rgba(255, 255, 255, 0.507);
  padding: 5px;
  border-radius: 5px;
}

.winner-message {
  margin: 10px;
}

span.o {
  color: var(--o-color);
}

span.x {
  color: var(--x-color);
}

.winner-message span.E {
  color: white
}

.restart-btn {
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 6px;
  background-image: linear-gradient(rgb(36, 100, 36),rgb(56, 139, 56), rgb(115, 189, 96));
}

@media screen and (max-width: 950px) {
  main {
    flex-direction: column;
    height: 80vh;
  }
  header {
    display: flex;
  }
  .responsive-score {
    flex-direction: row;
    margin: 0;
  }
  .responsive-score div {
    height: 120px;
  }
  .res-title {
    display: none;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(3,130px);
    grid-template-rows: repeat(3,120px);
    gap: 1rem;
  }
  
}

@media screen and (max-width: 450px) {
  header {
    width: 100vw;
  }

  main {
    width: 100%;
  }
  .responsive-score {
    margin: 0;
  }
  .responsive-score div {
    width: 100%;
    height: 120px;
  }
  .current-player {
    display: none;
  }
  .current-player.mobile {
    display: flex;
    width: 288px;
  }
  .board {
    display: grid;
    grid-template-columns: repeat(3,80px);
    grid-template-rows: repeat(3,80px);
    gap: 10px;
  }
  .cell {
    font-size: 40px;
  }
}